CREATE PROCEDURE [dbo].[SP_AddFileToNote]
@NoteID INT,
@FilePath NVARCHAR(MAX),
@FileCaption NVARCHAR(100)

AS 

BEGIN

SET NOCOUNT ON;

	DECLARE @ErrorMessage VARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF @NoteID IS NULL
		BEGIN
			RAISERROR('NoteID is required!', 16, 1)
		END

		IF (SELECT ID FROM Notes WHERE ID = @NoteID) IS NULL
		BEGIN
			RAISERROR('Note does not exist!', 16, 1)
		END

		INSERT INTO Files (NoteID, FilePath, Caption)
		VALUES(@NoteID, @FilePath, @FileCaption)




		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		SELECT @ErrorMessage = ERROR_MESSAGE(),
			   @ErrorSeverity = ERROR_SEVERITY(),
			   @ErrorState = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)

	END CATCH

END
GO
CREATE PROCEDURE [dbo].[SP_DeleteFileFromNote]
@FileID INT

AS 
BEGIN

SET NOCOUNT ON;

	DECLARE @ErrorMessage VARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF @FileID IS NULL
		BEGIN
			RAISERROR('FileID is required!', 16, 1)
		END

		IF (SELECT ID FROM Files WHERE ID = @FileID) IS NULL
		BEGIN
			RAISERROR('File does not exist!', 16, 1)
		END

		
		DELETE FROM Files
		WHERE ID = @FileID;
	



		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		SELECT @ErrorMessage = ERROR_MESSAGE(),
			   @ErrorSeverity = ERROR_SEVERITY(),
			   @ErrorState = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)

	END CATCH

END
GO

CREATE PROCEDURE [dbo].[SP_UpdateFileInNote]
@FileID INT,
@FilePath NVARCHAR(MAX),
@FileCaption NVARCHAR(100)

AS 
BEGIN

SET NOCOUNT ON;

	DECLARE @ErrorMessage VARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;

	BEGIN TRY
		BEGIN TRANSACTION;

		IF @FileID IS NULL
		BEGIN
			RAISERROR('FileID is required!', 16, 1)
		END

		IF (SELECT ID FROM Files WHERE ID = @FileID) IS NULL
		BEGIN
			RAISERROR('File does not exist!', 16, 1)
		END

		IF @FileCaption IS NOT NULL AND @FilePath IS NOT NULL
		BEGIN
			UPDATE Files
			SET
				FilePath = @FilePath,
				Caption = @FileCaption
			WHERE ID = @FileID;
		END



		COMMIT TRANSACTION;
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		SELECT @ErrorMessage = ERROR_MESSAGE(),
			   @ErrorSeverity = ERROR_SEVERITY(),
			   @ErrorState = ERROR_STATE()

		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)

	END CATCH

END